<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Test Connection: Server/MongoDB Client</title>
</head>
<body>
    TEST INDEX.ejs rendering!<br><br>
    <%= info[0].x%>
</body>
</html>